[defaults]
host_key_checking = false
deprecation_warnings = false
inventory = inventory/hosts.yml
retry_files_enabled = false
stdout_callback = default
timeout = 600

[ssh_connection]
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=10
pipelining = true
